.aboutmission {
    margin-top: 200px;

    &__wrapper {
        display: flex;
        gap: 60px;
    }

    &__box {
        padding: 60px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        flex: 1;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title {
            font-family: Raleway;
            font-size: 48px;
            font-weight: 700;
        }

        img {
            max-height: 80px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .aboutmission {
        margin-top: 150px;
        &__wrapper {
            gap: 40px;
        }
        &__box {
            padding: 50px;
            font-size: 16px;
            gap: 50px;
        }
        &__top {
            &-title {
                font-size: 38px;
            }
            img {
                max-height: 60px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .aboutmission {
        &__top {
            &-title {
                font-size: 34px;
            }
            img {
                max-height: 56px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .aboutmission {
        margin-top: 80px;
        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }
        &__box {
            padding: 40px;
            gap: 40px;
        }
        &__top {
            &-title {
                font-size: 30px;
            }
            img {
                max-height: 50px;
            }
        }
    }
}