.abouthistory {
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding: 150px;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: -6px;
            top: 50%;
            width: 12px;
            height: calc(100% + 100px);
            background-color: var(--Orange80);
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            height: calc(100% + 100px);
            width: 2px;
            background-color: black;
        }

        &:last-child::before,
        &:last-child::after {
            display: none;
        }

        &-left {
            display: flex;
            align-items: center;
        }

        &-box {
            display: flex;
            gap: 20px;
            width: 360px;
            padding: 30px 50px;
            margin-right: 50px;
        }

        &-img {
            width: 87px;
            height: 87px;
            background: url('/src/img/AbstractDesign4.png') center center / cover no-repeat;
        }

        span {
            font-family: Raleway;
            font-size: 68px;
            font-weight: 700;
        }

        &-title {
            font-family: Raleway;
            font-size: 28px;
            font-weight: 700;
        }

        &-text {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 500;
            line-height: 25px;
        }
    }
}

.line-orange {
    position: relative;
    width: 55px;
    height: 12px;
    background-color: var(--Orange80);
    flex-shrink: 0;
    display: flex;
    align-items: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 2px solid var(--Grey15);
        background: white;
        border-radius: 50%;
        z-index: 1;
    }

    &::before {
        left: -10px;
    }

    &::after {
        right: -10px;
    }
}

.line-black {
    width: 100%;
    height: 2px;
    background-color: black;
}

@media screen and (max-width: 1440px) {
    .abouthistory {
        &__wrapper {
            padding: 100px;
            gap: 90px;
        }

        &__item {
            &-box {
                gap: 20px;
                width: 256px;
                padding: 25px 30px;
                margin-right: 40px;
            }

            &-img {
                width: 60px;
                height: 60px;
            }
            span {
                font-size: 48px;
            }
            &-title {
                font-size: 24px;
            }
            &-text {
                margin-top: 16px;
                font-size: 16px;
            }
             &::before, &::after {
                height: calc(100% + 80px);
             }
        }
    }
    .line-orange {
        width: 44px;
    }
}

@media screen and (max-width: 1024px) {
    .abouthistory {
        &__item {
            flex-direction: column;
            align-items: start;
        }
    }
}