@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('/src/fonts/Outfit-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url('/src/fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url('/src/fonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}