@use "sass:map";
@use '/src/sass/base/variables' as variables;

// для container
@mixin respond($breakpoint) {
  @media (max-width: map.get(variables.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin boxWithCardBefore($icon) {
  padding: 80px 50px 50px 50px;
  margin-top: 37px;
  color: var(--Grey30);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  position: relative;

  span {
    display: block;
    color: var(--Grey10);
    font-family: Raleway;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -37px;
    left: 30px;
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--Grey15);
    border-radius: 12px;
    background: var(--Orange90) url($icon) no-repeat center/31px;
  }

  @media screen and (max-width: 1440px) {
    padding: 60px 40px;
    margin-top: 28px;
    font-size: 16px;

    span {
      font-size: 24px;
    }

    &::before {
      width: 56px;
      height: 56px;
      top: -28px;
      background: var(--Orange90) url($icon) no-repeat center/24px;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 50px 30px 30px 30px;

    span {
      font-size: 22px;
      margin-bottom: 16px;
    }
  }
}

@mixin sliderArrow {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Grey20);
  border-radius: 8px;
  background: white;
  cursor: pointer;

  img {

    width: 16px;
    height: 16px;
  }

  @media screen and (max-width: 1440px) {
    width: 48px;
    height: 48px;

  }
}