@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/base/fonts";
@use "/src/sass/base/variables";
@use "/src/sass/base/mixins";
@use "/src/sass/base/animation";
@use "/src/sass/blocks/global";

@use "/src/sass/ui/boxes";
@use "/src/sass/ui/titles.scss";

@use "/src/sass/blocks/header";
@use "/src/sass/blocks/main/mainpromo";
@use "/src/sass/blocks/main/mainbenefits";
@use "/src/sass/blocks/main/mainreviews";
@use "/src/sass/blocks/main/mainquestions";
@use "/src/sass/blocks/main/mainnavigate";
@use "/src/sass/blocks/footer";

@use "/src/sass/blocks/subheader";
@use "/src/sass/blocks/about/aboutmission";
@use "/src/sass/blocks/about/aboutawards";
@use "/src/sass/blocks/about/abouthistory";
@use "/src/sass/blocks/about/aboutteam";

@use "/src/sass/blocks/academics/academicsfeatures";
@use "/src/sass/blocks/academics/academicsstudents";
@use "/src/sass/blocks/academics/academicsgallery";
@use "/src/sass/blocks/admission/admissinprocess";
@use "/src/sass/blocks/admission/admissionfee";
@use "/src/sass/blocks/students/studentsactivities";
@use "/src/sass/blocks/students/studentsevents";
@use "/src/sass/blocks/contact/contact";