.admissionfee {
    --line: 2px solid var(--Grey15);

    &__wrapper {
        padding: 0 164px;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &__program {
        padding: 60px;

        &-table {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            line-height: 25px;

            span {
                padding: 30px 34px;
                border-left: var(--line);
                border-top: var(--line);
            }

            .span {
                &-bottom {
                    border-bottom: var(--line);
                }

                &-right {
                    border-right: var(--line);
                }

                &-null {
                    border: none;
                    padding: 0;
                    height: 30px;
                }

                &-head {
                    border-bottom: var(--line);
                    background: var(--Orange95);
                }

                &-lt {
                    border-top-left-radius: 14px;
                }

                &-rt {
                    border-top-right-radius: 14px;
                }

                &-lb {
                    border-bottom-left-radius: 14px;
                }

                &-rb {
                    border-bottom-right-radius: 14px;
                }

                &-bold {
                    font-size: 30px;
                    font-weight: 700;
                }
            }
        }
    }

    &__services {
        &-table {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 1440px) {
    .admissionfee {
        &__wrapper {
            overflow: hidden;
            padding: 0 80px;
            gap: 60px;
        }

        &__program {
            padding: 50px;

            &-table {
                font-size: 18px;

                span {
                    padding: 24px 30px;
                }

                .span {
                    &-bold {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .admissionfee {
        &__wrapper {
            padding: 0 0 0 80px;
        }

        &__program {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
            overflow-x: auto;
            overflow-y: hidden;
            // scrollbar-width: 178px;
            scrollbar-color: var(--Orange75) grey;
            // margin-bottom: 10px;

            &-table {
                width: 1265px;
            }
        }

        &__services {
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 390px) {
    .admissionfee {
        &__wrapper {
            padding: 0 0 0 20px;
        }
    }
}