@use "sass:map";
@use "/src/sass/base/variables" as *;
@use '/src/sass/base/mixins' as *;

html {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 18px 0 50px 0;
    background: var(--Orange97);
    color: var(--Grey20);
    scroll-behavior: smooth;
    font-family: Outfit;
}
body {
    position: relative;
}

.olerlay {
    z-index: -1;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(2, 2, 2, 0.75);
    transition: opacity 1s ease-in-out;
    
    &.overlay-active {
        opacity: 1;
        z-index: 1;
    }
}

// для немигания элементов с transition при обновлении экрана
.preload * {
    transition: none !important;
}

ul, h2 {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

// берем данные из миксина
.container-top {
    padding: 0 map.get($container-top, base);
    @include respond(s390) {
        // width: map.get($container-width, s1024);
        padding: 0 map.get($container-top, s390);
    }
}
.container {
    padding: 0 map.get($container, base);

    @include respond(s1440) {
        padding: 0 map.get($container, s1440);
        // width: map.get($container-width, s1280);
    }
    @include respond(s390) {
        // width: map.get($container-width, s1024);
        padding: 0 map.get($container, s390);
    }
}

.is-flex {
    display: flex;
}

section {
    margin-top: 200px;
    @media screen and (max-width: 1440px) {
        margin-top: 150px;
    }
    @media screen and (max-width: 768px) {
        margin-top: 80px;
    }
}
