.mainnavigate {
    margin-top: 200px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    &__item {
        padding: 80px;
        min-height: 588px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
            font-family: Raleway;
            font-size: 48px;
            font-weight: 700;
            text-align: center;
        }

        &-line {
            position: relative;
            margin-top: 40px;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;

            .line-orange {
                position: relative;
                display: block;
                width: 100%;
                height: 12px;
                background: var(--Orange80);

                .line-black {
                    position: absolute;
                    border: 1px solid black;
                    width: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid var(--Grey15);
                background: white;
                z-index: 1;
            }

            &::after {
                right: 0;
            }
        }

        &-descr {
            margin-top: 54px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }

        &-btn {
            display: block;
            padding: 18px 0;
            background: var(--Orange90);
            text-decoration: none;
            color: var(--Grey20);
            cursor: pointer;
        }

        &-btntext {
            display: flex;
            text-align: center;
            width: fit-content;
            margin: 0 auto;
            font-size: 20px;
            font-weight: 500;
            gap: 10px;
        }

        &-btnarrow {
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .mainnavigate {
        margin-top: 150px;
        &__wrapper {
            gap: 40px;
        }
        &__item {
            padding: 60px;
            min-height: 467px;
            &-title {
                font-size: 34px;
            }
            &-descr {
                margin-top: 44px;
                font-size: 16px;
            }
            &-line {
                margin-top: 30px;
            }
            &-btntext {
                font-size: 18px;
            }
            &-btnarrow {
            width: 24px;
            height: 24px;
        }
        }
    }
}

@media screen and (max-width: 1024px) {
    .mainnavigate {
        &__item {
            padding: 50px;
            min-height: 430px;
            &-title {
                font-size: 30px;
            }
            &-descr {
                margin-top: 34px;
            }
            &-btn {
                padding: 16px 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mainnavigate {
        margin-top: 80px;
        &__wrapper {
            grid-template-columns: 100%;
        }
        &__item {
            padding: 40px;
            min-height: 426px;
            &-title {
                font-size: 28px;
            }
            &-btntext {
                font-size: 16px;
            }
        }
    }
}