.academicsstudents {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 50px;

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }
}