<header>
    <div class="container-top">
        <div class="announcement">
            <img src="/src/img/AbstractDesign2.png" alt="AbstractDesign2"
                class="announcement__img announcement__img-left">
            <span class="announcement__text">
                <img src="/src/img/AbstractDesign1.png" alt="AbstractDesign1"
                    class="announcement__img2 announcement__img2-left">
                Admission is Open, Grab your seat now
                <a href="./admissions.html" class="announcement__link" aria-label="Go to admissions page">
                    {{!-- <img src="/node_modules/heroicons/24/outline/arrow-right.svg" alt="Academic Cap" --}}
                    <img src="/src/icons/heroicons/arrow-right24.svg" alt="Academic Cap"
                        class="announcement__arrow">
                </a>
                <img src="/src/img/AbstractDesign1.png" alt="AbstractDesign1"
                    class="announcement__img2 announcement__img2-right">
            </span>
            <img src="/src/img/AbstractDesign2.png" alt="AbstractDesign2"
                class="announcement__img announcement__img-right">
        </div>

        <nav class="navbar">
            <div class="navbar__logo"><a href="{{ base }}" class="logo"><img src="/src/img/Logo1920.png" alt="Logo"></a>
            </div>
            <nav class="navbar__menu">
                <div class="navbar__wrapper">
                    <ul>
                        <li><a href="{{ base }}">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="academics.html">Academics</a></li>
                        <li><a href="admissions.html">Admissions</a></li>
                        <li><a href="students.html">Student Life</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="hamburger">
                    <div class="hamburger__block"><span></span><span></span><span></span></div>
                </div>
            </nav>
    </div>
    </div>
</header>